{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="sng-column">

  <section class="">
    <div class="containers flex">

      <!-- 投稿記事詳細メイン -->
      <article class="main-conts single">

        <h1 class="single__h1">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入（32文字で設定）</h1>

        <div class="single__time"><span class="time">2023.02.22</span></div>

        <!-- SNSシェアボタン -->
        <ul class="flex gap20 fS aiC sns-share">
          <li><a href="#"><img src="/assets/img/common/fb.svg" alt="Facebook"></a></li>
          <li><a href="#"><img src="/assets/img/common/tw.svg" alt="Twitter"></a></li>
          <li><a href="#"><img src="/assets/img/common/in.svg" alt="LinkedIn"></a></li>
        </ul>

        <div class="single__lead">記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。</div>


        <div class="single__toc">
          <div class="single__toc--ttl">目次</div>
          <dl>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
          </dl>
        </div>

        <h2 class="single__h2">段落（タイトル）が入ります。段落（タイトル）が入ります。〈h2〉</h2>

        <div class="single__img">
          <img src="/assets/img/common/img-single01.jpg" alt="">
        </div>

        <div class="single__txt">
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
        </div>

        <!-- 記事詳細カードリンク -->
        <a href="#" class="flex cardLink">
          <figure class="cardLink__img"><img src="/assets/img/common/img-cardlink.jpg" alt=""></figure>
          <summary class="cardLink__box">
            <div class="cardLink__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入り</div>
            <div class="cardLink__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>

        <h3 class="single__h3">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。</h3>

        <div class="single__txt">
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。<br>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
        </div>

        <h2 class="single__h2">段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。〈h2〉</h2>

        <div class="single__img">
          <img src="/assets/img/common/img-single01.jpg" alt="">
        </div>

        <div class="single__txt">
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
        </div>

        <h3 class="single__h3">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。〈h3〉</h3>

        <div class="single__txt">
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
        </div>

        <!-- 記事詳細下部お役立ち資料 -->
        <div class="useful">
          <h3 class="single__ttl"><span class="doc">お役立ち資料<span></span></span></h3>
          <div class="item">
            <div class="flex">
              <figure class="item__img"><img src="/assets/img/common/img-useful.jpg" alt=""></figure>
              <summary class="item__box">
                <div class="item__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</div>
                <div class="item__box--txt">資料キャッチコピーが入ります。資料キャッチコピーが入ります。資料キャッチコピーが入ります。</div>
              </summary>
            </div>
            <a href="#" class="more small"><span>資料ダウンロード</span></a>
          </div>
        </div>

        <!-- 記事詳細下部関連コラム -->
        <div class="relation">
          <h3 class="single__ttl"><span class="pen">関連コラム</span></h3>
          <div class="flex aiC item">
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation01.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation01.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation01.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
          </div>
        </div>
        

      </article>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/whitepaper/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

        <div class="search">
          <form action="" class="search__form">
            <input class="search__input" type="search" placeholder="キーワードから探す">
            <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search-w.svg"></button>
          </form>
        </div>

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="blogList">
          <h3 class="ttl-tertiary">よく読まれている記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

      </aside>
      
    </div>
  </section>

</main>

{% endblock %}