/*
  ----------------
  company
  ----------------
*/

.company {
  
  .hero03 {
    height: 250px;
    background: url("../img/company/bg-hero.webp") 50% / cover no-repeat;
    @media #{$sp} {
      height: auto;
    }
    &__box {
      width: 100%;
      .ttl-primary-lower {
        margin-bottom: 0;
      }
    }
  }

  .history {
    
    &__desc {
      dt,dd {
        padding: 10px 30px;
        border-bottom: 1px solid #DDDDDD;
        @media #{$sp} {
          padding: 5px 15px;
        }
      }
      dt {
        width: 21%;
        font-weight: 500;
        @media #{$sp} {
          width: 100%;
        }
        &:first-child {
          border-top: 1px solid #333333; 
        }
      }
      dd {
        width: calc(100% - 21%);
        @media #{$sp} {
          width: 100%;
        }
        &:first-of-type {
          border-top: 1px solid #333333; 
          @media #{$sp} {
            border-top: 0;
          }
        }
      }
    }
  }

}

