/*
  ----------------
  Footer
  ----------------
*/

footer {
  background: #F7F7F7;
  color: #000;
  .containers.nav {
    padding: 60px 30px 50px;
    @media #{$sp} {
      padding: 30px 15px 20px;
    }
    .f-logo {
      max-width: 240px;
      margin-bottom: 30px;
      @media #{$sp} {
        max-width: 50%;
        margin-bottom: 15px;
      }
    }
  }
  .nav {
    &__box {
      width: calc(100% / 4 - 20px);
      font-size: 12px;
      @media #{$sp} {
        width: 100%;
        margin-bottom: 15px;
      }
      &--ttl {
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      &--list {
        li {
          margin-bottom: 10px;
          padding-left: 1.5em;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 4px;
            height: 4px;
            border: 1px solid;
            border-color: #000 #000 transparent transparent;
            transform: rotate(45deg);
          }
          a {
            &:hover {
              opacity: 1;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .aside {
    // max-width: 1160px;
    // margin: 0 auto;
    // border-top: 1px solid #E1D8B8;
    background: #212529;
    color: #fff;
    padding: 30px;
    font-size: 14px;
    @media #{$sp} {
      font-size: 12px;
      padding: 15px;
    }
    &__nav {
      margin-bottom: 15px;
      @media #{$sp} {
        margin-bottom: 10px;
      }
      li {
        padding: 0 30px;
        position: relative;
        @media #{$sp} {
          padding: 0 10px;
        }
        &:not(:last-child) {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 10px;
            width: 1px;
            background: #fff;
          }
        }
        a {
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
    &__copy {
      text-align: center;
      @media #{$sp} {
        font-size: 10px;
      }
    }
  }
  
}