/*
  ----------------
  Header
  ----------------
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: all .3s;
  &.hide {
    transform: translateY(-150px);
  }


  // 構築範囲　ここから　↓

  .in {
    background: #880024;
    color: #fff;
    &__logo {
      &__img {
        padding: 20px;
        width: 200px;
        
        @media #{$sp} {
          padding: 0 15px;
        }
      }
      span {
        font-size: 14px;
        
      } 
    }
    &__nav {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .04em;
      
      li {
        &:not(:last-child) {
          margin-right: 1px;
        }
        a {
          display: block;
          padding: 30px 40px;
          background: #F37D07;
          position: relative;
          
          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto;
            width: 7px;
            height: 7px;
            border: 1px solid;
            border-color: #fff #fff transparent transparent;
            transform: rotate(45deg);
            
          }
        }
      }
    }
  }
  .nav-list {
    background: #F4F5F6;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375;
    
    ul {
      width: 80%;
      margin: 0 auto;
      li {
        a {
          padding: 10px 0;
          position: relative;
          &::before {
            content: "";
            width: 0%; 
            height: 1px;
            background-color: #333;
            display: block;
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            transition: all .3s linear;
          }
          &:hover {
            opacity: 1;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // ここまで　↑

  #nav-toggle {
    padding: 16px;
    width: 50px;
    height: 50px;
    span {
      display: block;
      background: #fff;
      height: 2px;
      transition: transform 0.5s ease-in-out, top 0.5s ease;
    }
    span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  #gloval-nav {
    display: none;
    background: #F4F5F6;
    padding: 30px;
    ul {
      font-size: 14px;
      font-weight: bold;
      &.list {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #333;
          }
          a {
            display: block;
            padding: 10px 20px;
          }
        }
      }
      &.aside {
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #F4F5F6;
          }
          a {
            display: block;
            padding: 10px 30px;
            background: #f37d07;
            color: #fff;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 10px;
              width: 7px;
              height: 7px;
              border: 1px solid;
              border-color: #fff #fff transparent transparent;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

header.open {
  #nav-toggle {
    position: relative;
    span {
      background: #fff;
    }
    span:first-child {
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 27px;
    }
  }

}