/*
  ----------------
  taxonomy
  ----------------
*/

.article {
  &__ttl {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    @media #{$sp} {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  &__lead {
    font-size: 22px;
    margin-bottom: 70px;
    color: #333333;
    @media #{$sp} {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  &__wrap {
    margin-bottom: 70px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
    .item {
      padding: 30px 0;
      border-bottom: 1px solid #DDD;
      @media #{$sp} {
        padding: 15px 0;
      }
      &__img {
        width: 33%;
        text-align: center;
        @media #{$sp} {
          width: 85%;
          margin: 0 auto 15px;
        }
        img {
          aspect-ratio: 3 / 2;
          object-fit: cover;
        }
      }
      &__box {
        width: calc(100% - 33% - 30px);
        @media #{$sp} {
          width: 100%;
        }
        &--ttl {
          font-size: 20px;
          font-weight: bold;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: 10px;
          @media #{$sp} {
            font-size: 16px;
          }
        }
        &--row {
          margin-bottom: 10px;
          span {
            display: inline-block;
          }
          .cat {
            display: inline-block;
            text-align: center;
            line-height: 1.4;
            font-size: 14px;
            padding: 5px 15px;
            color: #fff;
            background: #0D5BAB;
            @media #{$sp} {
              font-size: 12px;
              padding: 5px;
            }
          }
        }
        &--lead {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
  &__toc {
    border: 3px solid #F2F6FB;
    padding: 30px;
    @media #{$sp} {
      border: 2px solid #F2F6FB;
      padding: 15px;
    }
    &--ttl {
      font-size: 20px;
      font-weight: bold;
      color: #0D5BAB;
      margin-bottom: 20px;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
    &--list {
      padding-left: 1.5em;
      dl {
        &:not(:last-child) {
          margin-bottom: 30px;
          @media #{$sp} {
            margin-bottom: 15px;
          }
        }
        dt {
          font-weight: bold;
          margin-bottom: 10px;
          position: relative;
          &::before {
            content: "●";
            position: absolute;
            top: 0;
            left: -1.5em;
            font-size: 16px;
            @media #{$sp} {
              font-size: 14px;
            }
          } 
        }
        dd {
          margin-bottom: 5px;
          ul {
            padding-left: 1.5em;
            li {
              list-style: disc;
            }
          }
        }
      }
    }
  }
  &__desc {
    margin-bottom: 70px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
  }
}