/*
  ----------------
  arc-news
  ----------------
*/

.arc-news {

  .ttl-secondary {
    text-align: left;
  }

  .cat {
    border: 1px solid #171c8f;
    background: #fff;
    color: #171c8f;
  }

}

.all-news {
  .cat {
    background: #000;
    color: #fff;
    padding: 3px 15px;
    @media #{$sp} {
      padding: 3px 10px;
    }
  }
  .time {
    color: #666;
    font-size: 16px;
    @media #{$sp} {
      font-size: 14px;
    }
  }
}