{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="thanks">

  <section>
    <div class="containers">

      <h1 class="ttl-primary-lower">お問合せ・簡易見積りいただき<br class="sp-only">ありがとうございました。</h1>

      <div class="lead">後日、弊社営業担当より<br class="sp-only">ご連絡させていただきます。</div>

      <a href="/" class="more bgW">トップページに戻る</a>

    </div>
  </section>

</main>

{% endblock %}