<footer>
  <div class="containers nav">
    <a href="/" class="f-logo"><img src="/assets/img/common/logo.svg" alt="東神倉庫株式会社"></a>
    <nav class="flex">
      <div class="nav__box">
        <div class="nav__box--ttl">サービス</div>
        <ul class="nav__box--list">
          <li><a href="/medical/">医療機器物流</a></li>
          <li><a href="/cosmetic/">化粧品物流</a></li>
          <li><a href="/strength/">選ばれる理由</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">ニーズ・課題から探す</div>
        <ul class="nav__box--list">
          <li><a href="/solutions/">医療機器・化粧品の物流にお困りの企業様へ</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="/whitepaper/">お役立ち資料</a></li>
          <li><a href="/column/">お役立ちコラム</a></li>
          <li><a href="/news/">お知らせ</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問合せ</div>
        <ul class="nav__box--list">
          <li><a href="/catalog/">サービス資料ダウンロード</a></li>
          <li><a href="/contact/">お問合せ・お見積り</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <aside class="aside">
    <ul class="flex jcC inherit aside__nav">
      <li><a href="/company/">会社概要</a></li>
      <li><a href="https://www.toshin-soko.co.jp/iso/index.html" target="_blank">ISO情報</a></li>
      <li><a href="https://www.toshin-soko.co.jp/privacy/index.html" target="_blank">プライバシーポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
    </ul>
    <div class="aside__copy">© TOSHIN SOKO KAISHA, LTD. All Rights Reserved.</div>
  </aside>
</footer>