<header>
  <div class="in">
    <aside class="flex aiC inherit">
      <div class="in__logo"><a href="/"><img src="/assets/img/common/logo.svg" alt="東神倉庫株式会社"></a></div>
      <nav class="in__nav pc-only">
        <ul class="flex jcE aiC">
          <li><a href="tel:0337666054" class="tel">03-3766-6054</a>　（平日：9:00~17:00）</li>
          <li><a href="/catalog/" class="more tiny">サービス資料</a></li>
          <li><a href="/contact/" class="more tiny">お問合せ・お見積り</a></li>
        </ul>
      </nav>
      <div id="nav-toggle" class="sp-only">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </aside>
  </div>
  <nav class="nav-list pc-only">
    <ul class="flex nav-list-box">
      <li><a href="/solutions/" class="link">医療機器・化粧品の物流にお困りの企業様へ</a></li>
      <li class="parent">
        <a href="#" class="arrow disabled">物流サービス</a>
        <div class="mega flex pull">
          <div class="mega__parent">物流サービス</div>
          <div class="mega__box flex">
            <div class="mega__box--list">
              <a href="/medical/" class="ttl">医療機器物流</a>
            </div>
            <div class="mega__box--list">
              <a href="/cosmetic/" class="ttl">化粧品物流</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/strength/" class="link">選ばれる理由</a></li>
      <li class="parent">
        <a href="#" class="arrow disabled">お役立ち情報</a>
        <div class="mega flex pull">
          <div class="mega__parent">お役立ち情報</div>
          <div class="mega__box flex">
            <div class="mega__box--list">
              <a href="/whitepaper/" class="ttl">お役立ち資料</a>
            </div>
            <div class="mega__box--list">
              <a href="/column/" class="ttl">お役立ちコラム</a>
            </div>
            <div class="mega__box--list">
              <a href="/news/" class="ttl">お知らせ</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/company/" class="link">会社概要</a></li>
    </ul>
  </nav>

  <div id="gloval-nav" class="sp-only">
    <ul class="list">
      <li><a href="/solutions/">医療機器・化粧品の物流にお困りの企業様へ</a></li>
      <li><a href="#" class="disabled">物流サービス</a></li>
      <li class="child"><a href="/medical/">医療機器物流</a></li>
      <li class="child"><a href="/cosmetic/">化粧品物流</a></li>
      <li><a href="/strength/">選ばれる理由</a></li>
      <li><a href="#" class="disabled">お役立ち情報</a></li>
      <li class="child"><a href="/whitepaper/">お役立ち資料</a></li>
      <li class="child"><a href="/column/">お役立ちコラム</a></li>
      <li class="child"><a href="/news/">お知らせ</a></li>
      <li><a href="/company/">会社概要</a></li>
    </ul>
    <ul class="aside">
      <li><a href="tel:0337666054" class="tel">03-3766-6054</a><br>（平日：9:00~17:00）</li>
      <li><a href="/catalog/" class="more small">サービス資料</a></li>
      <li><a href="/contact/" class="more small">お問合せ・お見積り</a></li>
    </ul>
  </div>
</header>