<header>
	<div class="in">
		<div class="flex inherit">
			<div class="in__logo">
				<a href="/" class="in__logo__img"><img src="/assets/img/common/logo-v2.svg" alt="Lakeel"></a>
				<span>DX実現のための情報サイト</span>
			</div>
			<nav class="in__nav pc-only">
				<ul class="flex">
					<li><a href="#">セミナー情報</a></li>
					<li><a href="#">ホワイトペーパー</a></li>
					<li><a href="#">資料請求</a></li>
					<li><a href="#">お問合せ・ご相談</a></li>
				</ul>
			</nav>
			<div id="nav-toggle" class="sp-only">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="nav-list pc-only">
		<ul class="flex">
			<li><a href="#">TOP</a></li>
			<li><a href="#">製品紹介</a></li>
			<li><a href="#">課題別ソリューション</a></li>
			<li><a href="#">部門別課題</a></li>
			<li><a href="#">実績・事例</a></li>
			<li><a href="#">LaKeelが選ばれる理由</a></li>
			<li><a href="#">お役立ち記事</a></li>
			<li><a href="#">よくあるご質問</a></li>
		</ul>
	</div>
	<div id="gloval-nav">
		<ul class="list">
			<li><a href="#">TOP</a></li>
			<li><a href="#">製品紹介</a></li>
			<li><a href="#">課題別ソリューション</a></li>
			<li><a href="#">部門別課題</a></li>
			<li><a href="#">実績・事例</a></li>
			<li><a href="#">LaKeelが選ばれる理由</a></li>
			<li><a href="#">お役立ち記事</a></li>
			<li><a href="#">よくあるご質問</a></li>
		</ul>
		<ul class="aside">
			<li><a href="#">セミナー情報</a></li>
			<li><a href="#">ホワイトペーパー</a></li>
			<li><a href="#">資料請求</a></li>
			<li><a href="#">お問合せ・ご相談</a></li>
		</ul>
	</div>
</header>