<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="">
<meta name="description" content="{% if description %}{{ description }}{% else %}ディスクリプション{% endif %}">
<meta name="author" content="">
<title>{% if title %}{{ title }} | {% endif %}サイトタイトル</title>
<meta name="format-detection" content="telephone=no">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="">
<meta itemprop="image" content="">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}サイトタイトル">
<meta name="twitter:image:src" content="">

<!-- Open Graph data -->
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}サイトタイトル">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}ディスクリプション{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:image:width" content="">
<meta property="og:image:height" content="">
<meta property="og:site_name" content="">

<!-- Web font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ncf8fus.css">

<!-- Style sheet -->
<link rel="stylesheet" href="/assets/css/main.css">