{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="company">

  <section class="hero03 core">
    <div class="containers">
      <div class="hero03__box">
        <h1 class="ttl-primary-lower">会社概要</h1>
      </div>
    </div>
  </section>

  <section class="concept">
    <div class="containers">
      <h2 class="ttl-secondary">東神倉庫の企業理念</h2>
      <dl class="concept__box">
        <dt>SLOGAN<br><small>スローガン</small></dt>
        <dd>物流で未来を支える</dd>
      </dl>
      <dl class="concept__box">
        <dt>MISSION<br><small>企業使命</small></dt>
        <dd>私たちは物流のプロとして、<br>世の中の人々に豊かな未来を<br class="sp-only">お届けします。</dd>
      </dl>
      <dl class="concept__box">
        <dt>VISION<br><small>目指す姿</small></dt>
        <dd>人とテクノロジーが融合した物流サービスで社会に貢献し、<br class="pc-only">お客様の良き物流パートナーを目指します。</dd>
      </dl>
      <dl class="concept__box">
        <dt>VALUES<br><small>価値観・行動指針</small></dt>
        <dd>
          <ul>
            <li>共に働く仲間の健康・安全を大切にし、お互いに思いやる職場にします。</li>
            <li>時代や事業環境の変化に向き合い、自ら考え、動き、<br class="pc-only">変革と挑戦により成長し続けます。</li>
            <li>新たな視点を持ち、現場力と変革力を掛け合わせ、<br class="pc-only">物流のプロとしてお客様との共存共栄を実現します。</li>
            <li>コンプライアンスを徹底し、<br class="pc-only">誠実で信頼される仕事を通じて社会と人々の暮らしを支えます。</li>
          </ul>
        </dd>
      </dl>
    </div>
  </section>

  <section class="history">
    <div class="containers">
      <h2 class="ttl-secondary">企業概要</h2>
      <dl class="flex fS history__desc">
        <dt>社名</dt>
        <dd>東神倉庫株式会社</dd>
        <dt>所在地</dt>
        <dd>東京都品川区勝島1丁目5番21号</dd>
        <dt>設立</dt>
        <dd>1953年9月11日</dd>
        <dt>資本金</dt>
        <dd>120百万円</dd>
        <dt>年商</dt>
        <dd>1,783百万円（2022年3月期）</dd>
        <dt>代表取締役社長</dt>
        <dd>杉山 明裕</dd>
        <dt>従業員数</dt>
        <dd>100名（2022年6月現在 契約・パート・派遣社員含む）</dd>
        <dt>拠点</dt>
        <dd><b>＜勝島本社ビル・倉庫施設＞</b><br>東京都品川区勝島1-5-21<br><b>＜葛西第二メディカルセンター ＞</b><br>東京都江戸川区臨海町3-5-1<br><b>＜ 大宮支店 ＞</b><br>埼玉県さいたま市北区本郷町1778<br><b>＜ 船橋アーカイブセンター ＞</b><br>千葉県船橋市潮見町21-3</dd>
        <dt>主な事業</dt>
        <dd>医薬品、医薬部外品、化粧品、医療機器ならびに食品等の製造および販売</dd>
        <dt class="core">株主</dt>
        <dd>三井物産グローバルロジスティクス株式会社<br>（三井物産株式会社100％出資）</dd>
        <dt>取引銀行</dt>
        <dd>三井住友銀行、三井物産フィナンシャルサービス</dd>
      </dl>
    </div>
  </section>

  <?php get_template_part( 'template-parts/inquiry' ); ?>

</main>

{% endblock %}