{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <!-- アンカーリンク 3つ4つどちらも対応　-->
  <section class="anc">
    <div class="containers">
      <ul class="flex jcC gap30 inherit anc__box">
        <li><a href="#">サービス概要</a></li>
        <li><a href="#">特長</a></li>
        <li><a href="#">他カプセルとの比較</a></li>
        <li><a href="#">用途例</a></li>
      </ul>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 左に説明文・右に画像　-->
  <section class="sec01">
    <div class="containers">
      <h2 class="ttl-secondary">h2タイトルfz36がそのまま入ります</h2>
      <div class="lead">リード文が入ります。リード文が入ります。リード文が入ります。</div>
      <div class="flex aiC sp-reverse">
        <dl class="sec01__box">
          <dt><h3>タイトルがそのまま入りますタイトルがそのまま入ります<br>タイトルがそのまま入ります</h3></dt>
          <dd>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</dd>
        </dl>
        <figure class="sec01__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 左に画像・右に説明文　-->
  <section class="sec02">
    <div class="containers">
      <h2 class="ttl-secondary">h2タイトルfz36がそのまま入ります</h2>
      <div class="lead">リード文が入ります。リード文が入ります。リード文が入ります。</div>
      <div class="flex aiC">
        <figure class="sec02__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        <dl class="sec02__box">
          <dt><h3>タイトルがそのまま入りますタイトルがそのまま入ります<br>タイトルがそのまま入ります</h3></dt>
          <dd>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</dd>
        </dl>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 交互に見せる　-->
  <section class="symmetry">
    <div class="containers">

      <div class="flex aiC sp-reverse item">
        <summary class="item__box">
          <div class="item__box--num">01</div>
          <h2 class="item__box--ttl">タイトルがそのまま入ります<br>タイトルがそのまま入ります</h2>
          <div class="item__box--txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</div>
          <a href="#" class="btn01">ボタン名が入ります</a>
        </summary>
        <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
      </div>

      <div class="flex aiC item">
        <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        <summary class="item__box">
          <div class="item__box--num">02</div>
          <h2 class="item__box--ttl">タイトルがそのまま入ります<br>タイトルがそのまま入ります</h2>
          <div class="item__box--txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</div>
          <a href="#" class="btn01">ボタン名が入ります</a>
        </summary>
      </div>

      <div class="flex aiC sp-reverse item">
        <summary class="item__box">
          <div class="item__box--num">03</div>
          <h2 class="item__box--ttl">タイトルがそのまま入ります<br>タイトルがそのまま入ります</h2>
          <div class="item__box--txt">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</div>
        </summary>
        <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
      </div>
      
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 何かの要素 -->
  <section class="element">
    <div class="containers">
      <h2 class="ttl-secondary rack"><small>選ばれる理由</small>独自の原料素材、シームレスカプセル技術、<br class="pc-only">機能性表示食品における当社ならではのサポート力が選ばれる理由です。</h2>
      <ul class="flex gap30 item">
        <li class="item__box">
          <div class="item__box--num core">1</div>
          <div class="item__box--ttl">1893年創業の確かな鑑定眼と<br>豊富な知識・ノウハウ</div>
          <figure class="item__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        </li>
        <li class="item__box">
          <div class="item__box--num core">2</div>
          <div class="item__box--ttl">差別化できる<br>商品開発のサポート</div>
          <figure class="item__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        </li>
        <li class="item__box">
          <div class="item__box--num core">3</div>
          <div class="item__box--ttl">機能性表示食品制度づくりの<br>中心メンバーならではの知識</div>
          <figure class="item__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        </li>
      </ul>
      <a href="/strength/" class="more">詳しくはこちら</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 企業ロゴ・スライダーなしの場合　-->
  <section class="praise">
    <div class="containers">
      <h2 class="ttl-secondary">h2タイトルfz36がそのまま入ります</h2>
      <ul class="flex praise__box">
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
        <li><img src="/assets/img/common/logo.svg" alt=""></li>
      </ul>
      <a href="#" class="btn01">ボタン名が入ります</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- お客様の声 -->
  <section class="voice">
    <div class="containers">
      <h2 class="ttl-secondary">お客様の声</h2>

      <div class="flex aiE voice__box">
        <figure class="voice__box--img">
          <img src="/assets/img/common/img-voice.jpg" alt="" class="avatar">
          <figcaption class="position">〇〇業　〇〇部門担当者</figcaption>
          <span class="tag">導入事例 01</span>
        </figure>
        <dl class="voice__box--cmt">
          <dt>他社には無い機能性表示食品の商品開発が実現できました</dt>
          <dd>お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。</dd>
        </dl>
      </div>

      <div class="flex aiE sp-reverse voice__box">
        <dl class="voice__box--cmt v2">
          <dt>他社には無い機能性表示食品の商品開発が実現できました</dt>
          <dd>お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。お客様の声が入ります。</dd>
        </dl>
        <figure class="voice__box--img">
          <img src="/assets/img/common/img-voice.jpg" alt="" class="avatar">
          <figcaption class="position">〇〇業　〇〇部門担当者</figcaption>
          <span class="tag">導入事例 01</span>
        </figure>
      </div>
      
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <section class="info bg-B">
    <div class="containers">
      <h2 class="ttl-secondary">会社情報</h2>
      <div class="flex gap30 card">
        <a href="https://arocca-test.tmedia.jp/company/" class="flex aiC card__box">
          <figure class="card__box--img"><img src="/assets/img/top/img-info01.svg" alt="企業情報"></figure>
          <dl class="card__box--txt">
            <dt><h3>企業情報</h3></dt>
          </dl>
        </a>
        <a href="https://arocca-test.tmedia.jp/strength/" class="flex aiC card__box">
          <figure class="card__box--img"><img src="/assets/img/top/img-info02.svg" alt="ア・ロッカが選ばれる理由"></figure>
          <dl class="card__box--txt">
            <dt><h3>ア・ロッカが選ばれる理由</h3></dt>
          </dl>
        </a>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- お問合わせ　-->
  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary cW">タイトルがそのまま入ります</h2>
      <h3 class="lead">リード文が入ります。リード文が入ります。リード文が入ります。</h3>
      <a href="/contact/" class="btn01">お問合せ・ご相談はこちら</a>
      <summary class="flex aiC inquiry__box">
        <div class="inquiry__box--txt">テキストが入りますテキストが入ります</div>
        <div class="flex inquiry__box--btn">
          <a href="#" class="btn01">ボタン名</a>
          <a href="#" class="btn01">ボタン名</a>
        </div>
      </summary>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- お問合わせ　type02-->
  <section class="inquiry02">
    <div class="containers">
      <div class="inquiry02__box">
        <h2 class="inquiry02__box--ttl">ご相談・お問い合わせ</h2>
        <div class="inquiry02__box--lead">セキュリティ担当者様の業務課題に関する<br>ご相談・お問い合わせはお気軽に<br class="sp-only">ご連絡下さい。</div>
        <a href="#" class="btn01">ご相談・お問い合わせ</a>
        <a href="tel:0332668128" class="tel">03-3266-8128</a>
        <div class="inquiry02__box--txt">（平日09:00〜17:00）</div>
        <h3 class="inquiry02__box--subttl"><span>カタログやお役立ち資料を<br class="sp-only">ご希望の方はこちら</span></h3>
        <div class="flex">
          <a href="#" class="btn01 small">カタログ</a>
          <a href="#" class="btn01 small">ホワイトペーパ</a>
          <a href="#" class="btn01 small">事例資料</a>
        </div>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- お問合わせ　type03-->
  <section class="inquiry03">
    <div class="containers-full">
      <div class="flex">
        <a href="#" class="item">
          <div class="item__box left">
            <figure class="item__box--img"><img src="/assets/img/common/icon-dl.png" alt=""></figure>
            <div class="item__box--txt"><span>サービス資料ダウンロード</span></div>
          </div>
        </a>
        <a href="#" class="item">
          <div class="item__box right">
            <figure class="item__box--img"><img src="/assets/img/common/icon-mail.png" alt=""></figure>
            <div class="item__box--txt"><span>ご相談・お見積り</span></div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- ホワイトペーパー　※CMS対応 -->
  <section class="material">
    <div class="containers">
      <div class="flex aiC jcC gap30 desc">
        <figure class="desc__img"><img src="/assets/img/common/img-wp.png" alt=""></figure>
        <summary class="desc__box">
          <div class="desc__box--ttl">差別化をサポートする<br>森下仁丹のサービス資料</div>
          <a href="/whitepaper/" class="btn01">サービス資料をダウンロード</a>
        </summary>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- ニュース　※CMS対応 -->
  <section class="sec-news">
    <div class="containers">
      <h2 class="ttl-secondary">お知らせ</h2>

        <a href="#" class="sec-news__box">
          <dl class="flex aiC gap30 sec-news__box--item">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2022.9.20</time>
              <span class="cat">カテゴリ</span>
            </dt>
            <dd>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</dd>
          </dl>
        </a>
        <a href="#" class="sec-news__box">
          <dl class="flex aiC gap30 sec-news__box--item">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2022.9.20</time>
              <span class="cat">カテゴリ</span>
            </dt>
            <dd>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</dd>
          </dl>
        </a>
        <a href="#" class="sec-news__box">
          <dl class="flex aiC gap30 sec-news__box--item">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2022.9.20</time>
              <span class="cat">カテゴリ</span>
            </dt>
            <dd>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</dd>
          </dl>
        </a>
        <a href="#" class="sec-news__box">
          <dl class="flex aiC gap30 sec-news__box--item">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2022.9.20</time>
              <span class="cat">カテゴリ</span>
            </dt>
            <dd>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</dd>
          </dl>
        </a>
        <a href="#" class="sec-news__box">
          <dl class="flex aiC gap30 sec-news__box--item">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2022.9.20</time>
              <span class="cat">カテゴリ</span>
            </dt>
            <dd>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</dd>
          </dl>
        </a>
      
      <a href="/news/" class="btn01">お知らせ一覧を見る</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード型 type1 ※aタグに変更も可能-->
  <section class="card-type1">
    <div class="containers">
      <h2 class="ttl-secondary">タイトルがそのまま入ります</h2>
      <ul class="flex gap30 card">
        <li class="card__box">
          <h3 class="card__box--ttl">タイトル</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl">タイトル</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
        </li>
        <li class="card__box">
          <h3 class="card__box--ttl">タイトル</h3>
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
        </li>
      </ul>
      <a href="#" class="btn01">ボタン名が入ります</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード型 type2 ※aタグに変更も可能-->
  <section class="card-type2">
    <div class="containers">
      <h2 class="ttl-secondary">タイトルがそのまま入ります</h2>
      <ul class="flex gap30 card">
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">タイトル</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">タイトル</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">タイトル</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </li>
      </ul>
      <a href="#" class="btn01">ボタン名が入ります</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード型 type3 ※ulタグに変更も可能-->
  <section class="card-type3">
    <div class="containers">
      <h2 class="ttl-secondary">タイトルがそのまま入ります</h2>
      <div class="flex gap30 card">
        <a href="#" class="card__wrap">
          <figure class="card__wrap--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <summary class="card__box">
            <h3 class="card__box--ttl">タイトル</h3>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </a>
        <a href="#" class="card__wrap">
          <figure class="card__wrap--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <summary class="card__box">
            <h3 class="card__box--ttl">タイトル</h3>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </a>
        <a href="#" class="card__wrap">
          <figure class="card__wrap--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <summary class="card__box">
            <h3 class="card__box--ttl">タイトル</h3>
            <div class="card__box--txt">活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。活用シーンの補足説明文が入ります。</div>
          </summary>
        </a>
      </div>
      <a href="#" class="btn01">ボタン名が入ります</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード型 type4 -->
  <section class="card-type4">
    <div class="containers">

      <div class="card">
        <h2 class="card__ttl">「<span>差別化のネタが見つからない</span>」<br class="sp-only">という企業様へ</h2>
        <div class="flex gap30 sp-reverse card__box">
          <dl class="card__box--txt">
            <dt><h3>独自の原料素材とシームレスカプセル技術で<br>差別化できる商品開発をサポート</h3></dt>
            <dd>多くの自社商品を開発・製造してきた森下仁丹ならではのノウハウを活用し、商品設計や機能性原料の供給、シームレスカプセルでの製造、充填、包装まで一気通貫でサポート。商品に付加価値をつけ、競合他社との差別化ができるネタをご提供します。</dd>
          </dl>
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
        </div>
      </div>
      
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード型 type5 -->
  <section class="card-type5">
    <div class="containers">
      <h2 class="ttl-secondary">以下のようなニーズ・課題を持つ企業様に活用されています。</h2>
      <ul class="flex gap30 card">
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <h3 class="card__box--ttl">応募が集まらない</h3>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <h3 class="card__box--ttl">内定辞退が多い</h3>
        </li>
        <li class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <h3 class="card__box--ttl">採用業務を効率化したい</h3>
        </li>
      </ul>
      <a href="#" class="btn01">ボタン名が入ります</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- お役立ち資料 -->
  <section class="useful-wp">
    <div class="containers">
      <h2 class="ttl-secondary cW">お役立ち資料</h2>
      <div class="lead">差別化できる商品開発におけるトレンドや開発段階の課題解決につながるノウハウなどを<br>ご紹介しています。是非ご覧ください。</div>
      <div class="flex gap30">
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイト</div>
            <div class="card__box--txt">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。</div>
            <div class="more bgY small">お役立ち資料をダウンロード</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイト</div>
            <div class="card__box--txt">資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。資料の紹介文が入ります。</div>
            <div class="more bgY small">お役立ち資料をダウンロード</div>
          </summary>
        </a>
      </div>
      <a href="/whitepaper/" class="more">お役立ち資料一覧を見る</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- hero01 右側にwp-->
  <section class="hero01">
    <div class="containers flex gap30 aiC">
      <div class="hero01__box">
        <div class="hero01__box--sub">サブタイトルが入ります</div>
        <h1 class="ttl-primary">h1タイトルがそのまま入ります<br>h1タイトルがそのまま入ります</h1>
        <a href="#" class="btn01">ボタン名が入ります</a>
      </div>
      <a href="#" class="hero01__wp">
        <div class="hero01__wp--ttl">お役立ち資料</div>
        <div class="hero01__wp--txt">テキストが入ります</div>
        <figure class="hero01__wp--img"><img src="/assets/img/common/img-wp.png" alt=""></figure>
        <div class="btn01">資料ダウンロード</div>
      </a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- hero02 左寄せ-->
  <section class="hero02">
    <div class="containers">
      <div class="hero02__box">
        <div class="hero02__box--sub">サブタイトルが入ります</div>
        <h1 class="ttl-primary">h1タイトルがそのまま入ります<br>h1タイトルがそのまま入ります</h1>
        <a href="#" class="btn01">ボタン名が入ります</a>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- hero03 中央寄せ-->
  <section class="hero03">
    <div class="containers core">
      <div class="hero03__box">
        <div class="hero03__box--sub">サブタイトルが入ります</div>
        <h1 class="ttl-primary">h1タイトルがそのまま入ります<br>h1タイトルがそのまま入ります</h1>
        <a href="#" class="btn01">ボタン名が入ります</a>
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 多くの企業様に選ばれています。 -->
  <section class="reason02">
    <div class="containers">
      <h2 class="ttl-secondary">アイティ人事は多くの企業様に<br class="sp-only">選ばれています。</h2>
      <ul class="flex jcC item">
        <li class="item__box">
          <h3 class="item__box--ttl">RPO導入企業数</h3>
          <div class="item__box--txt"><span>12</span>　社</div>
        </li>
        <li class="item__box">
          <h3 class="item__box--ttl">エンジニア採用成功人数</h3>
          <div class="item__box--txt"><span>14</span>　名</div>
        </li>
        <li class="item__box">
          <h3 class="item__box--ttl">エンジニアに強い媒体の取扱数</h3>
          <div class="item__box--txt"><span>5</span>　媒体</div>
        </li>
      </ul>
      <a href="/case/" class="more">実績・事例を見る</a>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 検索バー -->
  <section>
		<div class="containers">
      <div class="search">
        <form method="get" action="" class="search__form">
          <input name="s" class="search__input" type="search" placeholder="キーワードから探す">
          <input type="hidden" name="post_type" value="column">
          <button accesskey="f" class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
        </form>
      </div>
			<div class="flex gap20 fS inherit">
        <a href="" class="cat">カテゴリ名</a>
        <a href="" class="cat">カテゴリ名</a>
        <a href="" class="cat">カテゴリ名</a>
        <a href="" class="cat">カテゴリ名</a>
      </div>
		</div>
	</section>

  <hr style="margin: 30px 0; display: block;">

  <!-- 最新の2件のみ表示 -->
  <section class="latest">
    <div class="containers">
      <h2 class="ttl-secondary non">おすすめ資料</h2>
      <div class="flex gap30">

        <a href="#" class="flex item">
          <h3 class="item__ttl">資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資</h3>
          <div class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="item__box">
            <div class="item__box--cat"><span class="cat">カテゴリ名</span></div>
            <div class="item__box--txt">資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。</div>
          </div>
        </a>

        <a href="#" class="flex item">
          <h3 class="item__ttl">資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資料タイトルが入ります資</h3>
          <div class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="item__box">
            <div class="item__box--cat"><span class="cat">カテゴリ名</span></div>
            <div class="item__box--txt">資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。資料リード文が入ります。</div>
          </div>
        </a>
        
      </div>
    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- カード一覧 -->
  <section class="grid">
    <div class="containers">

      <div class="flex gap30 grid">

        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>
        <a href="#" class="grid__card">
          <div class="grid__card--img"><img src="/assets/img/common/img01.jpg" alt=""></div>
          <div class="flex fS grid__card--cat">
            <span class="cat">カテゴリ名</span>
            <span class="cat">カテゴ</span>
          </div>
          <h3 class="grid__card--ttl">コラムタイトルが入りますコラムタイトルが入りますコラムタイトルが入ります</h3>
          <div class="grid__card--time"><time class="time">2021.03.16</time></div>
        </a>

      </div>

      <nav class="pagination">
        <div class="nav-links">
          <a class="prev page-numbers" href="#"><span></span></a>
          <a class="page-numbers" href="#">1</a>
          <span class="page-numbers current">2</span>
          <a class="page-numbers" href="#">3</a>
          <a class="page-numbers" href="#">4</a>
          <a class="page-numbers" href="#">5</a>
          <a class="next page-numbers" href="#"><span></span></a>
        </div>
      </nav>

    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <section class="arc-news">
    <div class="containers">
      <h1 class="ttl-secondary non">お知らせ</h1>
      <div class="item">

        <a href="#" class="item__box">
          <div class="flex gap20 fS aiC inherit item__box--date">
            <time class="time">2021.3.8</time>
            <span class="cat">お知らせ/ニュース</span>
          </div>
          <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
        </a>

        <a href="#" class="item__box">
          <div class="flex gap20 fS aiC inherit item__box--date">
            <time class="time">2021.3.8</time>
            <span class="cat">お知らせ/ニュース</span>
          </div>
          <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
        </a>

        <a href="#" class="item__box">
          <div class="flex gap20 fS aiC inherit item__box--date">
            <time class="time">2021.3.8</time>
            <span class="cat">お知らせ/ニュース</span>
          </div>
          <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
        </a>

        <a href="#" class="item__box">
          <div class="flex gap20 fS aiC inherit item__box--date">
            <time class="time">2021.3.8</time>
            <span class="cat">お知らせ/ニュース</span>
          </div>
          <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
        </a>

        <a href="#" class="item__box">
          <div class="flex gap20 fS aiC inherit item__box--date">
            <time class="time">2021.3.8</time>
            <span class="cat">お知らせ/ニュース</span>
          </div>
          <summary class="item__box--ttl"><h3>お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。</h3></summary>
        </a>
				
			</div>

    </div>
  </section>

  <hr style="margin: 30px 0; display: block;">

  <!-- ニュース詳細 -->
  <section class="news-single">
    <div class="containers">

      <div class="flex gap20 fS aiC inherit news-single__date">
        <time class="time">2021.3.8</time>
        <span class="cat">カテゴリ名</span>
      </div>

      <h1 class="news-single__h1">お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。お知らせタイトルが入ります。〈h1〉</h1>

      <ul class="flex gap20 fS aiC sns">
        <li><a href="#"><img src="/assets/img/common/fb.svg" alt="Facebook"></a></li>
        <li><a href="#"><img src="/assets/img/common/tw.svg" alt="Twitter"></a></li>
        <li><a href="#"><img src="/assets/img/common/in.svg" alt="LinkedIn"></a></li>
      </ul>

      <div class=" news-single__lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>

      <div class=" news-single__conts">
        <p>お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。</p>
        <p>お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。お知らせ本文が入ります。</p>
      </div>

    </div>
  </section>

</main>

<!-- コラム詳細ページ -->
<main>

  <section class="">
    <div class="containers flex">

      <!-- 投稿記事詳細メイン -->
      <article class="main-conts single">

        <h1 class="single__h1">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入（32文字で設定）</h1>

        <div class="single__time"><span class="time">2023.02.22</span></div>

        <!-- SNSシェアボタン -->
        <ul class="flex gap20 fS aiC sns-share">
          <li><a href="#"><img src="/assets/img/common/fb.svg" alt="Facebook"></a></li>
          <li><a href="#"><img src="/assets/img/common/tw.svg" alt="Twitter"></a></li>
          <li><a href="#"><img src="/assets/img/common/in.svg" alt="LinkedIn"></a></li>
        </ul>

        <div class="single__lead">記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。記事説明文が入ります。</div>


        <div class="single__toc">
          <div class="single__toc--ttl">目次</div>
          <dl>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
            <dt><a href="#">段落（タイトル）が入ります。段落（タイトル）が入ります。</a></dt>
            <dd>
              <ul>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
                <li><a href="#">小見出し（タイトル）が入ります。</a></li>
              </ul>
            </dd>
          </dl>
        </div>

        <h2 class="single__h2">段落（タイトル）が入ります。段落（タイトル）が入ります。〈h2〉</h2>

        <div class="single__img">
          <img src="/assets/img/common/img-single01.jpg" alt="">
        </div>

        <div class="single__txt">
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
        </div>

        <!-- 記事詳細カードリンク -->
        <a href="#" class="flex cardLink">
          <figure class="cardLink__img"><img src="/assets/img/common/img-cardlink.jpg" alt=""></figure>
          <summary class="cardLink__box">
            <div class="cardLink__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入り</div>
            <div class="cardLink__box--txt">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>

        <h3 class="single__h3">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。</h3>

        <div class="single__txt">
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。<br>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
        </div>

        <h2 class="single__h2">段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。段落（タイトル）が入ります。〈h2〉</h2>

        <div class="single__img">
          <img src="/assets/img/common/img-single01.jpg" alt="">
        </div>

        <div class="single__txt">
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
          <p>段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。段落（本文）が入ります。</p>
        </div>

        <h3 class="single__h3">小見出し（タイトル）が入ります。小見出し（タイトル）が入ります。〈h3〉</h3>

        <div class="single__txt">
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
          <p>小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。小見出し（本文）が入ります。</p>
        </div>

        <!-- 記事詳細下部お役立ち資料 -->
        <div class="useful">
          <h3 class="single__ttl"><span class="doc">お役立ち資料<span></h3>
          <div class="item">
            <div class="flex">
              <figure class="item__img"><img src="/assets/img/common/img-useful.jpg" alt=""></figure>
              <summary class="item__box">
                <div class="item__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</div>
                <div class="item__box--txt">資料キャッチコピーが入ります。資料キャッチコピーが入ります。資料キャッチコピーが入ります。</div>
              </summary>
            </div>
            <a href="#" class="btn01 small"><span>資料ダウンロード</span></a>
          </div>
        </div>

        <!-- 記事詳細下部関連コラム -->
        <div class="relation">
          <h3 class="single__ttl"><span class="pen">関連コラム</span></h3>
          <div class="flex aiC item">
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation01.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation02.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
            <a href="#" class="flex aiC inherit item__box">
              <div class="item__box--img"><img src="/assets/img/common/img-relation03.jpg" alt=""></div>
              <div class="item__box--txt">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
            </a>
          </div>
        </div>
        

      </article>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/catalog/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

        <div class="search">
          <form action="" class="search__form">
            <input class="search__input" type="search" placeholder="キーワードから探す">
            <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
          </form>
        </div>

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="blogList">
          <h3 class="ttl-tertiary">よく読まれている記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog02.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog03.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog04.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog05.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

      </aside>
      
    </div>
  </section>

</main>

<!-- コラム一覧カテゴリ別ページ -->
<main>

  <section class="">
    <div class="containers flex">

      <!-- タクソノミー -->
      <section class="main-conts article">

        <h1 class="article__ttl"><span>○○○○（カテゴリ名）</span>に関するコラム</h1>

        <h2 class="article__lead"><span>○○○○（カテゴリ名）</span>に関する記事をお届けしています。</h2>

        <div class="article__wrap">

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img01.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

        </div>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>

      </section>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/catalog/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

        <div class="search">
          <form action="" class="search__form">
            <input class="search__input" type="search" placeholder="キーワードから探す">
            <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
          </form>
        </div>

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="blogList">
          <h3 class="ttl-tertiary">よく読まれている記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog02.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog03.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog04.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog05.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

      </aside>
      
    </div>
  </section>

</main>

<!-- サイドフォームページ -->
<main>

  <section class="">
    <div class="containers flex">

      <!-- 資料紹介 -->
      <article class="sub-conts article">

        <h1 class="article__ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入(32文字程度)</h1>

        <!-- 資料のスライダー -->
        <div class="wp-slick">
          <div id="wp-slick">
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
            <figure><img src="/assets/img/common/img-single01.jpg" alt=""></figure>
          </div>
        </div>
        

        <h2 class="article__desc">資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。資料説明文が入ります。</h2>

        <div class="article__toc">
          <h2 class="article__toc--ttl">本資料の目次</h2>
          <div class="article__toc--list">
            <dl>
              <dt><h3>章タイトルが入ります。章タイトルが入ります。</h3></dt>
              <dd>
                <ul>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><h3>章タイトルが入ります。章タイトルが入ります。</h3></dt>
              <dd>
                <ul>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                </ul>
              </dd>
            </dl>
            <dl>
              <dt><h3>章タイトルが入ります。章タイトルが入ります。</h3></dt>
              <dd>
                <ul>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                  <li><h4>見出しが入ります。見出しが入ります。</h4></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>

      </article>

      <!-- サイドメニュー -->
      <aside class="side-form">

        <!-- カイロスタグ挿入 -->
        <form action="" class="form">
          <div class="form__ttl">ダウンロード申込みフォーム</div>
          <div class="form__table">
            <table>
              <colgroup>
                <col>
                <col>
              </colgroup>
              <tr>
                <th class="flex aiC">
                  <span class="item">会社名</span>
                  <span class="required"></span>
                </th>
                <td><input type="text" placeholder="例）NTTデータウェーブ株式会社"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">部署名</span>
                  <span class="required"></span>
                </th>
                <td><input type="text" placeholder="例）システム管理室"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">ご担当者名</span>
                  <span class="required"></span>
                </th>
                <td>
                  <div class="flex aiC">
                    <p class="flex fS aiC half"><span>氏：</span><input type="text" placeholder="例）佐藤"></p>
                    <p class="flex fS aiC half"><span>名：</span><input type="text" placeholder="例）太郎"></p>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">メールアドレス</span>
                  <span class="required"></span>
                </th>
                <td><input type="email" placeholder="例）sample@gmail.com.jp"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">電話番号</span>
                  <span class="required"></span>
                </th>
                <td><input type="tel" placeholder="例）090-1234-5678"></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">お問合せ・相談事項がある方<br class="pc-only">はご記入ください。</span>
                  <span class="optional">任意</span>
                </th>
                <td><textarea placeholder="例）ダウンロード資料を見ながら説明もしてほしい。"></textarea></td>
              </tr>
              <tr>
                <th class="flex aiC">
                  <span class="item">個人情報の取扱いについて</span>
                  <span class="required"></span>
                </th>
                <td><div class="flex fS aiC"><input type="checkbox">同意する</div><p>弊社Webサイトの<a href="/privacy/">プライバシーポリシー</a>をご確認の上、ご同意いただき送信をお願いいたします。</p></td>
              </tr>
            </table>
            <button type="submit" class="btn01 small">確認画面へ進む</button>
          </div>
        </form>
        <!-- カイロスタグ挿入 end -->

      </aside>
      
    </div>
  </section>

</main>

<!-- サイトマップ -->
<main class="sitemap">

  <section>
    <div class="containers flex gap40">

      <div class="group">
        <div class="group__ttl">原料供給</div>
        <ul class="group__list">
          <li><a href="/rosehip_polyphenol/">ローズヒップポリフェノールMJ</a></li>
          <li><a href="/cassis/">カシスエキスMJ</a></li>
          <li><a href="/salacia/">サラシアエキスMJ</a></li>
        </ul>
      </div>

      <div class="group">
        <div class="group__ttl">シームレスカプセル・OEM受託</div>
        <ul class="group__list">
          <li><a href="/seamless_capsule/">シームレスカプセル受託</a></li>
          <li><a href="/supplement_oem/">サプリメントOEM受託</a></li>
        </ul>
      </div>

      <div class="group">
        <div class="group__ttl">ニーズ・課題から探す</div>
        <ul class="group__list">
          <li><a href="/differentiation/">商品の差別化にお困りの企業様へ</a></li>
        </ul>
      </div>

      <div class="group">
        <div class="group__ttl">お役立ち情報</div>
        <ul class="group__list">
          <!-- <li><a href="/case/">実績・事例</a></li> -->
          <li><a href="/whitepaper/">お役立ち資料</a></li>
          <li><a href="/column/">お役立ちコラム</a></li>
          <li><a href="/news/">お知らせ</a></li>
        </ul>
      </div>

      <div class="group">
        <div class="group__ttl">お問合せ</div>
        <ul class="group__list">
          <li><a href="/catalog/">サービス資料ダウンロード</a></li>
          <li><a href="/contact/">お問合せ・ご相談</a></li>
        </ul>
      </div>

      <div class="group">
        <div class="group__ttl">その他</div>
        <ul class="group__list">
          <li><a href="/strength/">選ばれる理由</a></li>
          <li><a href="/company/">企業情報</a></li>
        </ul>
      </div>

    </div>
  </section>

</main>


<!-- 会社概要 -->
<main class="company">

  <section class="history">
    <div class="containers">
      <dl class="flex fS history__desc">
        <dt>社名</dt>
        <dd>森下仁丹株式会社</dd>
        <dt>創業</dt>
        <dd>1893年（明治26年）2月</dd>
        <dt>設立</dt>
        <dd>1936年（昭和11年）11月</dd>
        <dt>資本金</dt>
        <dd>353,740万円</dd>
        <dt>発行株式数</dt>
        <dd>415万株</dd>
        <dt>証券コード</dt>
        <dd>4524（東証スタンダード市場）</dd>
        <dt>従業員数</dt>
        <dd>連結348名　単体333名 （2022年3月31日現在）</dd>
        <dt>売上高</dt>
        <dd>連結9,563百万円　単体9,580百万円 （2022年3月期）</dd>
        <dt>主な事業</dt>
        <dd>医薬品、医薬部外品、化粧品、医療機器ならびに食品等の製造および販売</dd>
        <dt>関連会社</dt>
        <dd>株式会社森下仁丹ヘルスコミュニケーションズ</dd>
      </dl>
    </div>
  </section>

</main>

<!-- サンクスページ -->
<main class="thanks">

  <section>
    <div class="containers">

      <h1 class="ttl-primary-lower">お問合せ・ご相談いただき<br class="sp-only">ありがとうございました。</h1>

      <div class="lead">後日、弊社営業担当より<br class="sp-only">ご連絡させていただきます。</div>

      <a href="/" class="more">トップページに戻る</a>

    </div>
  </section>

</main>

<main class="contact">

  <section class="hero-lower core">
    <div class="containers">
      <div class="hero-lower__box">
        <h1 class="ttl-primary">お問合せ・ご相談</h1>
        <div class="hero-lower__box--sub">差別化できる商品開発に関するお問合せ・ご相談はお気軽にご連絡ください。</div>
      </div>
    </div>
  </section>

  <section class="form">
    <div class="containers">
      <div class="form__note">
        <p>● 以下フォームにご連絡先、お問合せ内容をご記入の上、送信してください。担当よりご連絡申し上げます。</p>
        <p>● 回答までにお時間をいただく場合や、回答ができない場合もございますので、ご了承ください。</p>
      </div>
      <form action="">
        <div class="form__ttl">お問合せ・ご相談フォーム</div>
        <div class="form__table">
          <table>
            <colgroup>
              <col>
              <col>
            </colgroup>
            <tr>
              <th class="flex aiC">
                <span class="item">会社名</span>
                <span class="required"></span>
              </th>
              <td><input type="text" placeholder="例）NTTデータウェーブ株式会社"></td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">部署名</span>
                <span class="required"></span>
              </th>
              <td><input type="text" placeholder="例）システム管理室"></td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">ご担当者名</span>
                <span class="required"></span>
              </th>
              <td>
                <div class="flex aiC">
                  <p class="flex fS aiC half"><span>氏：</span><input type="text" placeholder="例）佐藤"></p>
                  <p class="flex fS aiC half"><span>名：</span><input type="text" placeholder="例）太郎"></p>
                </div>
              </td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">メールアドレス</span>
                <span class="required"></span>
              </th>
              <td><input type="email" placeholder="例）sample@gmail.com.jp"></td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">電話番号</span>
                <span class="required"></span>
              </th>
              <td><input type="tel" placeholder="例）090-1234-5678"></td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">お問合せ内容詳細</span>
                <span class="required"></span>
              </th>
              <td><textarea placeholder="例）テキストテキスト。"></textarea></td>
            </tr>
            <tr>
              <th class="flex aiC">
                <span class="item">個人情報の取扱いについて</span>
                <span class="required"></span>
              </th>
              <td><div class="flex fS aiC"><input type="checkbox">同意する</div><p>弊社Webサイトの<a href="/privacy/">プライバシーポリシー</a>をご確認の上、ご同意いただき送信をお願いいたします。</p></td>
            </tr>
          </table>
          <button type="submit" class="more bgY">確認画面へ進む</button>
        </div>
      </form>
      
    </div>
  </section>

</main>

{% endblock %}