{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="tax-column">

  <section class="">
    <div class="containers flex">

      <!-- タクソノミー -->
      <section class="main-conts article">

        <h1 class="article__ttl"><span>○○○○（カテゴリ名）</span>に関するコラム</h1>

        <h2 class="article__lead"><span>○○○○（カテゴリ名）</span>に関する記事をお届けしています。</h2>

        <div class="article__wrap">

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/column/img02.jpg" alt=""></figure>
            <summary class="item__box">
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat02">カテゴリ名</span>
                <span class="cat02">カテゴリ名</span>
              </div>
              <h2 class="item__box--ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h2>
              <h3 class="item__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</h3>
            </summary>
          </a>

        </div>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>

      </section>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/whitepaper/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

        <div class="search">
          <form action="" class="search__form">
            <input class="search__input" type="search" placeholder="キーワードから探す">
            <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search-w.svg"></button>
          </form>
        </div>

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="blogList">
          <h3 class="ttl-tertiary">よく読まれている記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/column/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

      </aside>
      
    </div>
  </section>

</main>

{% endblock %}