{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="solutions">

  <section class="hero03 core">
    <div class="containers">
      <div class="hero03__box">
        <div class="hero03__sub"><span class="marker cB">医療機器</span>・<span class="marker cG">化粧品</span>の物流部門担当者様へ</div>
        <h1 class="ttl-primary-lower">東神倉庫なら<span>品質の高い物流</span>をご提供します。</h1>
        <div class="ctabtn">
          <a href="/catalog/" class="more core">
            <div class="balloon"><span class="balloon__txt">特長・概要が3分でわかる！</span></div>
            サービス資料をダウンロード
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-anc">
    <div class="containers">
      <h2 class="ttl-secondary">こんな企業様におすすめです。</h2>
      <div class="flex card">
        <a href="#anc01" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/solutions/img01.jpg" alt=""></figure>
          <h3 class="card__box--ttl">事業拡大に伴い<br>現行倉庫が手狭になった</h3>
        </a>
        <a href="#anc02" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/solutions/img02.jpg" alt=""></figure>
          <h3 class="card__box--ttl">医療機器・化粧品の物流に<br>詳しい倉庫会社を探している</h3>
        </a>
        <a href="#anc03" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/solutions/img03.jpg" alt=""></figure>
          <h3 class="card__box--ttl">法定表示ラベル・添付文書封入等の<br>作業が出来る倉庫を探している</h3>
        </a>
      </div>
    </div>
  </section>

  <section class="card-type4">
    <div class="containers">
      <h2 class="ttl-secondary">東神倉庫の医療機器物流サービスが<br class="sp-only">解決します。</h2>
      <div id="anc01" class="card">
        <div class="flex gap30 aiC sp-reverse card__box">
          <dl class="card__box--txt">
            <dt><h3>熟練スタッフによる丁寧な作業で品質保証</h3></dt>
            <dd>外観検査から法定表示ラベルの貼付、添付文書の封入、品質検品など、医療機器製造作業が実施可能です。また、LOT、期限管理にも専用システムを使い熟練スタッフによる作業を行っているので、安定した品質を保証します。</dd>
          </dl>
          <figure class="card__box--img"><img src="/assets/img/solutions/img-card01.jpg" alt="熟練スタッフによる丁寧な作業で品質保証"></figure>
        </div>
      </div>
      <div id="anc02" class="card">
        <div class="flex gap30 aiC card__box">
          <figure class="card__box--img"><img src="/assets/img/solutions/img-card02.jpg" alt="医療機器・化粧品物流に適した機能を完備"></figure>
          <dl class="card__box--txt">
            <dt><h3>医療機器・化粧品物流に適した機能を完備</h3></dt>
            <dd>厚生労働省令で定める基準であるQMS省令に適合し、国際基準であるISO13485を2015年より取得・運用し、高品質な物流サービスをご提供します。また、当社のシステムは薬機法に準拠したトーレーサビリティや使用期限・ロット、シリアル管理対応、貴社基幹システムとの連携なども可能です。</dd>
          </dl>
        </div>
      </div>
      <div id="anc03" class="card">
        <div class="flex gap30 aiC sp-reverse card__box">
          <dl class="card__box--txt">
            <dt><h3>利便性の高い立地の倉庫をご提供</h3></dt>
            <dd>羽田空港、首都圏至近である品川区の東京モノレール大井競馬場前駅に立地している倉庫をご提供します。発送の際、物流センターと空港間の物流費のコスト低減ができる点も強みです。また、埼玉県さいたま市や千葉県船橋市、東京都江戸川区など、複数の拠点がございますので、幅広い立地でのご提案が可能です。危険物倉庫も保有しており、作業にあたるスタッフは危険物の専門知識を備えた「危険物取扱者」の資格を有しています。</dd>
          </dl>
          <figure class="card__box--img"><img src="/assets/img/solutions/img-card03.jpg" alt="利便性の高い立地の倉庫をご提供"></figure>
        </div>
      </div>
    </div>
  </section>

  <section class="region">
    <div class="containers">
      <h2 class="ttl-secondary">こんな企業様におすすめです。</h2>
      <div class="scroll">
        <table class="region__menu">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
          </colgroup>
          <tr>
            <th>医療機器<br>クラス分類</th>
            <th>輸入<br>通関手配</th>
            <th>外観<br>動作確認</th>
            <th>包装<br>表示</th>
            <th>保管<br>管理</th>
            <th>出荷<br>梱包</th>
            <th>搬入<br>据付け</th>
            <th>取扱い製品（一般的名称）</th>
          </tr>
          <tr>
            <td>Ⅰ</td>
            <td>〇</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>〇</td>
            <td>
              <ul>
                <li>再使用可能なパルスオキシメータープロープ</li>
                <li>診療用照明器</li>
                <li>汎用電動式手術台</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Ⅱ</td>
            <td>〇</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>〇</td>
            <td>
              <ul>
                <li>単回使用人工呼吸器呼吸回路</li>
                <li>頭皮内脳波用電極</li>
                <li>過酸化水素ガス滅菌器</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Ⅲ</td>
            <td>〇</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>〇</td>
            <td>
              <ul>
                <li>可搬型人工呼吸器</li>
                <li>脊椎ケージ</li>
                <li>内臓機能代用器</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Ⅳ</td>
            <td>〇</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>◎</td>
            <td>〇</td>
            <td>
              <ul>
                <li>内臓機能代用器</li>
                <li>医療用嘴管及び体液誘導管</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  
  <section class="material">
    <div class="containers">
      <div class="flex aiC jcC gap30 desc">
        <figure class="desc__img"><img src="/assets/img/common/img-wp.png" alt="医療機器物流・化粧品物流"></figure>
        <summary class="desc__box">
          <h3 class="desc__box--sub">特長・概要が3分でわかる！</h3>
          <h2 class="desc__box--ttl">医療機器物流・化粧品物流</h2>
          <a href="/catalog/" class="more">サービス資料をダウンロード</a>
        </summary>
      </div>
    </div>
  </section>

  <?php get_template_part( 'template-parts/reason' ); ?>

  <?php get_template_part( 'template-parts/inquiry' ); ?>

</main>

{% endblock %}